option_settings:
  aws:elasticbeanstalk:application:environment:
    PARSE_MOUNT: "/parse"
    APP_ID: "ReplaceWithAppID"
    MASTER_KEY: "ReplaceWithMasterKey"
    DATABASE_URI: "ReplaceWithDatabaseURI"
    NODE_ENV: "production"
    SERVER_URL: "http://myappname.elasticbeanstalk.com/parse"
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/00_set_tmp_permissions.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      chown -R ec2-user /tmp
      chown -R $USER:$(id -gn $USER) /tmp/.config
      chown -R nodejs:nodejs /tmp/.npm